name: PDM Release

on:
  push:
    tags:
      - v*

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python and Install PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: "3.13.x"
          version: "2.x"

      - name: Install dependencies
        run: pdm install --prod

      - name: Build package
        run: pdm build

      - name: Create Release
        uses: ncipollo/release-action@v1.20.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        with:
          tag: ${{ github.ref }}
          name: Release ${{ github.ref }}
          draft: true
          prerelease: false
          allowUpdates: true
          generateReleaseNotes: true
          makeLatest: legacy

      # - name: Publish to PyPI
      #   uses: pypa/gh-action-pypi-publish@release/v1
      #   with:
      #     packages-dir: dist
